@use '../../../../../../styles/tokens' as *;
@use '../../../../../../styles/abstracts/breakpoints';

.section-title {
  margin: 0;

  font-family: $font-family-primary;
  font-weight: $font-weight-bold;
  line-height: $line-height-tight;

  color: $color-text-primary;

  &--h1 {
    font-size: $font-size-4xl;
  }

  &--h2 {
    font-size: $font-size-3xl;
  }

  &--h3 {
    font-size: $font-size-2xl;
  }

  &--h4 {
    font-size: $font-size-xl;
  }

  @include breakpoints.down('tablet') {
    &--h1 {
      font-size: $font-size-3xl;
    }

    &--h2 {
      font-size: $font-size-2xl;
    }

    &--h3 {
      font-size: $font-size-xl;
    }

    &--h4 {
      font-size: $font-size-lg;
    }
  }
}
