@use '../../../../../../styles/tokens' as *;
@use '../../../../../../styles/abstracts/breakpoints';

.section-actions {
  display: flex;
  align-items: center;
  gap: $spacing-3;
  flex-wrap: wrap;

  @include breakpoints.down('tablet') {
    width: 100%;
    justify-content: flex-start;
  }
}
